<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <listeners>
        <listener class-name="testsuite.utils.ApiLogListener"/>
    </listeners>
    <test name="Test Create Article" >
        <classes>
            <class name="testsuite.api.articles.TestCreateArticle" >
            </class>
        </classes>
    </test>
</suite>